#ribbon{
    background-color: black;
    padding-top: 1px;
}
#name{
    color: aliceblue;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    margin-top: 2px;
}
.copy-right-footer{
    text-align: center;
    margin-top: 100px;
    background-color: white;
    color: black;
    text-shadow: 8px 10px 5px black;
    padding-bottom: 3px;
    padding-top: 3px;
    font-size: 15px;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
}
#backButton{
    background-color: darkkhaki;
    color: aliceblue;
    margin-right: 10px;
    width: 90px;
}
#h1{
    text-align: center;
    font-weight: bold;
    color: #ed7368;
    font-family: 'Dancing Script', cursive;
    text-shadow: 15px 5px 10px #e30255;
}
p{
    text-align: center;
    color: #ed7368;
    font-family: 'Foldit', cursive;
    font-size: 24px;
}
body{
    background: linear-gradient(#758695 0%, #4f4c5c 50%, #1b1c3a 100%);
}