#ribbon{
    background-color: black;
    padding-top: 3px;
}
#name{
    color: aliceblue;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
}
.copy-right-footer{
    text-align: center;
    margin-top: 160px;
    background-color: white;
    color: black;
    text-shadow: 8px 10px 5px black;
    padding-bottom: 3px;
    padding-top: 3px;
    font-size: 15px;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
}
#backButton{
    background-color: darkkhaki;
    color: aliceblue;
    margin-right: 10px;
    width: 90px;
}
body{
    background: linear-gradient(#f7f6f9 0%, #95aabf 33%, #11333c 66%, #040509 100%);
}
#h1{
    color: #93ACBF;
    text-shadow: 5px 5px 5px #57697C;
    text-align: center;
    font-family: 'Dancing Script', cursive;
}
p{
    color: #93ACBF;
    text-align: center;
    font-family: 'Foldit', cursive;
    font-size: 24px;
}
#p1{
    color: #7e9db4;
}
#p2{
    color: #7e9db4;
}